<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias alias="board" type="com.spring.biz.board.BoardVO"/> -->
		<typeAlias alias="korea_address" type="com.koreigner.common.address.Korea_Address_VO"/>
		<typeAlias alias="house_all" type="com.koreigner.biz.house.HouseAll_VO"/>
		<typeAlias alias="house_search" type="com.koreigner.biz.house.HouseSearch_VO"/>
		<typeAlias alias="infoBoard" type="com.koreigner.biz.inform.InfoBoardVO"/>
		<typeAlias alias="companyVO" type="com.koreigner.biz.job.company.CompanyVO"/>
		<typeAlias alias="hireVO" type="com.koreigner.biz.job.hire.HireVO"/>
		<typeAlias alias="jobVO" type="com.koreigner.biz.job.jobservice.JobVO"/>
		<typeAlias alias="userVO" type="com.koreigner.biz.member.UserVO"/>
	</typeAliases>
  
  <!-- SQL 작성파일인 매퍼 파일 위치 지정 -->
  <mappers>
<!-- common mapper -->
     <mapper resource="mappings/common/korea_address-mapper.xml"/>
     
<!-- job mapper -->
     <mapper resource="mappings/job/company-mapper.xml"/>
     <mapper resource="mappings/job/hire-mapper.xml"/>
     
<!-- house mapper -->
   	 <mapper resource="mappings/house/house-mapper.xml"/>	
   	 
<!-- info mapper -->
  	 <mapper resource="mappings/infoBoard-mapper.xml"/>
  	 
<!-- member mapper -->  	 
  	 <mapper resource="mappings/member/user-mapper.xml"/>
  </mappers>
</configuration>














