<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<!-- 아이디(이메일) 중복검사 -->
	<select id="userIdCheck" parameterType="com.koreigner.biz.member.UserVO" resultType="int">
		SELECT COUNT(*) FROM T_MEMBER WHERE MEM_ID = #{mem_id}
	</select> 
	
	<!-- 닉네임 중복검사 -->
	<select id="userNickCheck" parameterType="com.koreigner.biz.member.UserVO" resultType="int">
		SELECT COUNT(*) FROM T_MEMBER WHERE MEM_NAME = #{mem_name}
	</select>
	
	<!-- 회원 등록 -->
	<insert id="joinUser" parameterType="com.koreigner.biz.member.UserVO">
		INSERT INTO T_MEMBER
			(MEM_IDX, MEM_CATE, MEM_ID, MEM_PW, MEM_NICK)
		VALUES (MEM_SQ.NEXTVAL, #{mem_cate}, #{mem_id}, #{mem_pw}, #{mem_nick})	
	</insert>
	
	<!-- 로그인 체크 -->
	<select id="userLoginCheck" resultType="com.koreigner.biz.member.UserVO">
		SELECT * FROM T_MEMBER WHERE MEM_ID = #{mem_id} AND MEM_PW = #{mem_pw}
	</select>
	
	<!-- 이메일 인증(권한상태 업데이트) -->
	<update id="updateAuthstatus" parameterType="com.koreigner.biz.member.UserVO">
		UPDATE T_MEMBER
		   SET AUTH_STATUS = '1'
		 WHERE MEM_ID = #{mem_id}
	</update>
	
	<!-- 비밀번호 재설정 -->
	<update id="updatePassword" parameterType="com.koreigner.biz.member.UserVO">
		UPDATE T_MEMBER
		   SET MEM_PW = #{mem_pw}
		 WHERE MEM_ID = #{mem_id}
	</update>
	
</mapper>









