<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<!-- 아이디(이메일) 중복검사 -->
	<select id="userIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM T_MEMBER WHERE MEM_ID = #{mem_id}
	</select> 
	
	<!-- 닉네임 중복검사 -->
	<select id="userNickCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM T_MEMBER WHERE MEM_NAME = #{mem_name}
	</select>
	
	<!-- 로그인 체크 -->
	<select id="userLoginCheck" resultType="userVO">
		SELECT * FROM T_MEMBER WHERE MEM_ID = #{mem_id} AND MEM_PW = #{mem_pw} AND MEM_CATE = #{mem_cate}
	</select>
	
	<!-- 회원 등록 -->
	<insert id="joinUser" parameterType="userVO">
		INSERT INTO T_MEMBER
			(MEM_IDX, MEM_CATE, MEM_ID, MEM_PW, MEM_NAME)
		VALUES (MEM_SQ.NEXTVAL, #{mem_cate}, #{mem_id}, #{mem_pw}, #{mem_name})	
	</insert>
	
	<!-- 이메일 인증(권한상태 업데이트) -->
	<!-- <update id="updateAuthstatus" parameterType="userVO">
		UPDATE T_MEMBER
		   SET AUTH_STATUS = '1'
		 WHERE MEM_ID = #{mem_id}
	</update> -->
	
	<!-- 권한상태 불러오기 -->
	<select id="getAuthStatus" parameterType="String" resultType="String">
		SELECT AUTH_STATUS FROM T_MEMBER WHERE MEM_ID = #{mem_id}
	</select>
	
	<!-- 회원정보 불러오기 -->
	<select id="getOneMember" parameterType="String" resultType="userVO">
		SELECT * FROM T_MEMBER WHERE MEM_ID = #{mem_id}
	</select>
	
	<!-- 비밀번호 재설정 -->
	<!-- <update id="updatePassword" parameterType="userVO">
		UPDATE T_MEMBER
		   SET MEM_PW = #{mem_pw}
		 WHERE MEM_ID = #{mem_id}
	</update> -->
	
	<!-- 회원정보 수정하기 -->
	<update id="updateMember" parameterType="userVO">
		UPDATE T_MEMBER
		   <set>
		       <if test="mem_name != null">MEM_NAME = #{mem_name},</if>
		       <if test='mem_pw != null and mem_pw != ""'>MEM_PW = #{mem_pw},</if>
		       <if test="mem_phone != null">MEM_PHONE = #{mem_phone},</if>
		       <if test="mem_birth != null">MEM_BIRTH = #{mem_birth},</if>
		       <if test="mem_gender != null">MEM_GENDER = #{mem_gender},</if>
		       <if test="mem_address != null">MEM_ADDRESS = #{mem_address},</if>
		       <if test="mem_nationality != null">MEM_NATIONALITY = #{mem_nationality},</if>
		       <if test="mailling_fl != null">MAILLING_FL = #{mailling_fl},</if>
		       <if test="sms_fl != null">SMS_FL = #{sms_fl},</if>
		       <if test="auth_status != null">AUTH_STATUS = #{auth_status},</if>
		   </set>
		 WHERE MEM_ID = #{mem_id}
	</update>
	
	<!-- 비밀번호 체크 -->
	<select id="userPwCheck" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM T_MEMBER
		 WHERE MEM_ID = #{mem_id} AND MEM_PW = #{mem_pw}
	</select>
</mapper>









